/*GENERELLE INDSTILLINGER*/
* {
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    background: #F5BAC2;
}

    /*FONTS*/

a {
    font-family: 'Monoton', cursive;
    color: #153CD6;
    font-size: 3rem;
    text-decoration: underline;
}


a:hover {
    color: #0F2DA3;


}

p {
    font-family: 'Monoton', cursive;
    color: #153CD6;
    font-size: 4rem;
}



h8 {
    font-family: 'Raleway', sans-serif;
    color: #153CD6;
    font-size: 1.1rem;

    line-height: 2.3vw;
}

h9 {
    font-family: 'Monoton', cursive;
    color: #153CD6;
    font-size: 4.5rem;

}

h10 {
    font-family: 'Monoton', cursive;
    color: #153CD6;
    font-size: 1rem;
}


#forside footer {
    font-family: 'Monoton', cursive;
    color: #153CD6;
    font-size: 0.9rem;

    margin-top: 7vw;
    text-align: center;
}

#kontakt footer{
    font-family: 'Monoton', cursive;
    color: #153CD6;
    font-size: 0.9rem;

    margin-top: 43vw;
    text-align: center;
}

#portfolio_ux footer{
    font-family: 'Monoton', cursive;
    color: #153CD6;
    font-size: 0.9rem;

    margin-top: 43vw;
    text-align: center;
}


/* BURGERMENU */



#menuToggle {
    display: block;
    position: fixed;
    top: 50px;
    right: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */


}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #153CD6;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/*
/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #153CD6;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 100px;
    right: -100px;

    background: #F5BAC2;
    list-style-type: none;

    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}


/****************************FORSIDE**********************************************/
#forside .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.linn_marie {

    text-align: center;
    margin-top: 0vw;
}



/*****STYLING AF LINKS******/



#hvem_er_jeg .sectionwrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}


#hvem_er_jeg .col {
    flex-basis: 200px;
    flex-grow: 1;
    margin-right: 8vw;

}

#hvem_er_jeg .col_narrow{
    flex-basis: 300px;
    flex-grow: 1;
}

#web .sectionwrapper{
    display: flex;
    flex-wrap: wrap;
}


#web .col {
    flex-basis: 200px;
    flex-grow: 1;
    margin-right: 30px;
    margin-left: 30px;
    border: solid;
    border-color:  #153CD6;
    padding: 2vw;
}

#web .col_narrow{
    flex-basis: 300px;
    flex-grow: 1;
    margin-left: 60px;
}

#animation .sectionwrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}

#animation .col {
    flex-basis: 200px;
    flex-grow: 1;
    margin-right: 30px;
    margin-left: 30px;
    border: solid;
    border-color:  #153CD6;
    padding: 2vw;
}

#animation .col_narrow{
    flex-basis: 300px;
    flex-grow: 1;
    margin-left: 60px;
}


#ux .sectionwrapper{
    display: flex;
    flex-wrap: wrap;


}

#ux .col {
    flex-basis: 200px;
    flex-grow: 1;
    margin-right: 30px;
    margin-left: 30px;
    border: solid;
    border-color:  #153CD6;
    padding: 2vw;
}

#ux .col_narrow{
    flex-basis: 300px;
    flex-grow: 1;
    margin-left: 60px;
}

#content .sectionwrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;


}

#content .col {
    flex-basis: 200px;
    flex-grow: 1;
    margin-right: 30px;
    margin-left: 30px;
    border: solid;
    border-color:  #153CD6;
    padding: 2vw;
}

#content .col_narrow{
    flex-basis: 300px;
    flex-grow: 1;
    margin-left: 60px;
}
******////

#links {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
}

.link_portfolio {
    margin-top: 2vw;
    margin-left: 25vw;
    font-size: 6rem;
    flex-grow: 1;
    flex-basis: 200px;

}

.link_hvem {
    margin-top: 6vw;
    margin-left: 17vw;
    flex-grow: 1;
    flex-basis: 200px;

}

.link_kontakt {
    margin-top: 6vw;
    margin-left: 10vw;
    flex-grow: 1;
    flex-basis: 200px;

}

/*********** SLUT********/
#ramme {

    width: 60vw;
    height: 48vw;
    border-style: solid;
    border-color: #153CD6;
    border-width: medium;



}

.ramme_position {

    margin: auto;
    margin-top: 3vw;
    height: 10vw;
    padding: 1vw;


    flex-basis: 200px;
    flex-grow: 1;

}

/******************CIRKLER***************************/

#cirkel1v {
    width: 20vw;
    height: 20vw;
    margin-left: 1vw;
    margin-top: -10vw;
}


/*******HVEM ER JEG********/


/***img {
    height: 40vw;
    width: 49vw;
    margin-top: -1vw;
    margin-left: -5vw;
}**/

.hvem_overskrift{
    margin: 2vw;
    margin-top: -1.7vw;
}
.text {
    padding: none;
    box-sizing: border-box;
    margin-top: -60vw;
    margin-left: 38vw;

}


/*******HVEM ER JEG SLUT*******/

/********PORTFOLIO********/

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  display:inline-flex;
    margin: 1vw;
align-items: center;
}

/* Clear floats after image containers */
.row::after {
  content:;
  clear: both;
  display: table;
}


.row {
  display:inline-flex;
}

#portfolio_top .sectionwrapper {
  display:flex;
    flex-wrap: wrap;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.portfolio_overskrift {
    margin-left: 8vw;
    margin-top: 3.7vw;

}


.overskrifter{
  margin-left: 1vw;
    margin-top: 3vw;
}
.column img{
    margin-top: 5vw;
    margin-bottom:14vw;
    width: 23vw;;

}


.tema1_eks figure{
    box-sizing: border-box;
    background-color: aqua;

}

#tema1_eks{
    width: 30vw;
    margin-left: 50vw;
    margin-top: -40vw;
box-sizing: border-box;
}


/****************************PORTFOLIO SLUT**********************************************/
/****************************KONTAKT**********************************************/



.kontakt_overskrift{
    margin: 2vw;
    margin-top: 2vw;
    margin-left: 7vw;
}

.mail img{
    margin-top: 1vw;
    margin-bottom:14vw;
    width: 35vw;;
    position: absolute;

    margin-left: 50vw;
}

.tlf img{
     margin-top: 10vw;
    margin-left: 15vw;
    margin-bottom:14vw;
    width: 20vw;;
     position: absolute;
}



/*MEDIA QUERY forside*/



@media only screen and (max-width:600px) {
    div.linn_marie {
        text-align: center;
        margin: 0 0 0 0;
    }
}

@media only screen and (max-width:600px) {
    div.link_portfolio {
        text-align: left;
        margin: 0 0 0 0;
    }

}

@media only screen and (max-width:600px) {
    div.link_hvem {
        text-align: left;
        margin: 0 0 0 0;

    }
}


@media only screen and (max-width:600px) {
    div.link_kontakt {
        text-align: left;
        margin: 0 0 0 0;
    }
}

/*MEDIA QUERY HVEM ER JEG -SIDE*/



@media only screen and (max-width:600px) {
    div.col {
        text-align: left;
        margin: 0 0 0 0;
    }
}

/*MEDIA QUERY portfolio-side*/

@media only screen and (max-width:600px) {
    div.portfolio_overskrift {
        text-align:center;
        margin: 0 0 0 0;
    }
}

